<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="">
  <ion-content class="padding">
    <h1>{{chat.name}}</h1>
    <p>
      
    </p>
	
      <p>q1: {{q1}}</p>
	  <p>q2: {{q2}}</p>
	  <p>q3: {{q3}}</p> 
	  <p>q4: {{q4}}</p>
	  <p>q5: {{q5}}</p>
	  <p>q6: {{q6}}</p>
    
  </ion-content>
</ion-view>
