<ion-view >
  <ion-content>
  <div style="float:none; width:100%; padding-bottom:15px;">
  MATRIZ [A]
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="a[0][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="a[0][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="a[0][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-4" ng-model="a[0][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-5" ng-model="a[0][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-6" ng-model="a[0][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-7" ng-model="a[0][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-8" ng-model="a[0][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-9" ng-model="a[0][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-10" ng-model="a[0][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="a[1][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="a[1][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="a[1][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-4" ng-model="a[1][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-5" ng-model="a[1][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-6" ng-model="a[1][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-7" ng-model="a[1][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-8" ng-model="a[1][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-9" ng-model="a[1][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-10" ng-model="a[1][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="a[2][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="a[2][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="a[2][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-4" ng-model="a[2][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-5" ng-model="a[2][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-6" ng-model="a[2][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-7" ng-model="a[2][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-8" ng-model="a[2][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-9" ng-model="a[2][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-10" ng-model="a[2][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-1" ng-model="a[3][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-2" ng-model="a[3][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-3" ng-model="a[3][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-4" ng-model="a[3][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-5" ng-model="a[3][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-6" ng-model="a[3][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-7" ng-model="a[3][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-8" ng-model="a[3][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-9" ng-model="a[3][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-10" ng-model="a[3][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-1" ng-model="a[4][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-2" ng-model="a[4][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-3" ng-model="a[4][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-4" ng-model="a[4][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-5" ng-model="a[4][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-6" ng-model="a[4][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-7" ng-model="a[4][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-8" ng-model="a[4][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-9" ng-model="a[4][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-10" ng-model="a[4][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-1" ng-model="a[5][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-2" ng-model="a[5][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-3" ng-model="a[5][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-4" ng-model="a[5][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-5" ng-model="a[5][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-6" ng-model="a[5][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-7" ng-model="a[5][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-8" ng-model="a[5][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-9" ng-model="a[5][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-10" ng-model="a[5][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-1" ng-model="a[6][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-2" ng-model="a[6][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-3" ng-model="a[6][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-4" ng-model="a[6][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-5" ng-model="a[6][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-6" ng-model="a[6][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-7" ng-model="a[6][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-8" ng-model="a[6][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-9" ng-model="a[6][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-10" ng-model="a[6][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-1" ng-model="a[7][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-2" ng-model="a[7][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-3" ng-model="a[7][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-4" ng-model="a[7][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-5" ng-model="a[7][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-6" ng-model="a[7][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-7" ng-model="a[7][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-8" ng-model="a[7][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-9" ng-model="a[7][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-10" ng-model="a[7][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-1" ng-model="a[8][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-2" ng-model="a[8][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-3" ng-model="a[8][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-4" ng-model="a[8][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-5" ng-model="a[8][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-6" ng-model="a[8][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-7" ng-model="a[8][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-8" ng-model="a[8][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-9" ng-model="a[8][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-10" ng-model="a[8][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-1" ng-model="a[9][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-2" ng-model="a[9][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-3" ng-model="a[9][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-4" ng-model="a[9][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-5" ng-model="a[9][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-6" ng-model="a[9][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-7" ng-model="a[9][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-8" ng-model="a[9][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-9" ng-model="a[9][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-10" ng-model="a[9][9]">
  </div>
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; ">
  [A]T
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="b[0][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="b[0][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="b[0][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-4" ng-model="b[0][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-5" ng-model="b[0][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-6" ng-model="b[0][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-7" ng-model="b[0][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-8" ng-model="b[0][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-9" ng-model="b[0][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-10" ng-model="b[0][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="b[1][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="b[1][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="b[1][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-4" ng-model="b[1][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-5" ng-model="b[1][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-6" ng-model="b[1][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-7" ng-model="b[1][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-8" ng-model="b[1][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-9" ng-model="b[1][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-10" ng-model="b[1][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="b[2][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="b[2][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="b[2][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-4" ng-model="b[2][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-5" ng-model="b[2][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-6" ng-model="b[2][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-7" ng-model="b[2][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-8" ng-model="b[2][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-9" ng-model="b[2][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-10" ng-model="b[2][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-1" ng-model="b[3][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-2" ng-model="b[3][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-3" ng-model="b[3][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-4" ng-model="b[3][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-5" ng-model="b[3][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-6" ng-model="b[3][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-7" ng-model="b[3][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-8" ng-model="b[3][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-9" ng-model="b[3][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-10" ng-model="b[3][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-1" ng-model="b[4][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-2" ng-model="b[4][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-3" ng-model="b[4][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-4" ng-model="b[4][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-5" ng-model="b[4][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-6" ng-model="b[4][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-7" ng-model="b[4][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-8" ng-model="b[4][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-9" ng-model="b[4][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-10" ng-model="b[4][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-1" ng-model="b[5][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-2" ng-model="b[5][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-3" ng-model="b[5][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-4" ng-model="b[5][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-5" ng-model="b[5][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-6" ng-model="b[5][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-7" ng-model="b[5][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-8" ng-model="b[5][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-9" ng-model="b[5][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-10" ng-model="b[5][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-1" ng-model="b[6][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-2" ng-model="b[6][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-3" ng-model="b[6][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-4" ng-model="b[6][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-5" ng-model="b[6][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-6" ng-model="b[6][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-7" ng-model="b[6][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-8" ng-model="b[6][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-9" ng-model="b[6][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-10" ng-model="b[6][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-1" ng-model="b[7][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-2" ng-model="b[7][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-3" ng-model="b[7][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-4" ng-model="b[7][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-5" ng-model="b[7][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-6" ng-model="b[7][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-7" ng-model="b[7][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-8" ng-model="b[7][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-9" ng-model="b[7][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-10" ng-model="b[7][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-1" ng-model="b[8][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-2" ng-model="b[8][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-3" ng-model="b[8][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-4" ng-model="b[8][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-5" ng-model="b[8][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-6" ng-model="b[8][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-7" ng-model="b[8][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-8" ng-model="b[8][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-9" ng-model="b[8][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-10" ng-model="b[8][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-1" ng-model="b[9][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-2" ng-model="b[9][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-3" ng-model="b[9][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-4" ng-model="b[9][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-5" ng-model="b[9][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-6" ng-model="b[9][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-7" ng-model="b[9][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-8" ng-model="b[9][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-9" ng-model="b[9][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-10" ng-model="b[9][9]">
  </div>
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  <div style="float:none; width:100%; padding-bottom:15px;">
  K-ELEMENTO 1
  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="k[0][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="k[0][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="k[0][2]">
  </div>

  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="k[1][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="k[1][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="k[1][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="k[2][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="k[2][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="k[2][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  <div style="float:none; width:100%; padding-bottom:15px;">
  K-ELEMENTO 2
  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="k2[0][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="k2[0][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="k2[0][2]">
  </div>

  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="k2[1][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="k2[1][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="k2[1][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="k2[2][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="k2[2][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="k2[2][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  <div style="float:none; width:100%; padding-bottom:15px;">
  K-ELEMENTO 3
  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="k3[0][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="k3[0][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="k3[0][2]">
  </div>

  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="k3[1][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="k3[1][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="k3[1][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="k3[2][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="k3[2][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="k3[2][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  <div style="float:none; width:100%; padding-bottom:15px;">
  K-ESTRUCTURAL
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="a2[0][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="a2[0][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="a2[0][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-4" ng-model="a2[0][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-5" ng-model="a2[0][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-6" ng-model="a2[0][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-7" ng-model="a2[0][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-8" ng-model="a2[0][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-9" ng-model="a2[0][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-10" ng-model="a2[0][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="a2[1][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="a2[1][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="a2[1][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-4" ng-model="a2[1][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-5" ng-model="a2[1][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-6" ng-model="a2[1][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-7" ng-model="a2[1][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-8" ng-model="a2[1][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-9" ng-model="a2[1][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-10" ng-model="a2[1][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="a2[2][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="a2[2][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="a2[2][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-4" ng-model="a2[2][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-5" ng-model="a2[2][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-6" ng-model="a2[2][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-7" ng-model="a2[2][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-8" ng-model="a2[2][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-9" ng-model="a2[2][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-10" ng-model="a2[2][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-1" ng-model="a2[3][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-2" ng-model="a2[3][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-3" ng-model="a2[3][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-4" ng-model="a2[3][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-5" ng-model="a2[3][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-6" ng-model="a2[3][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-7" ng-model="a2[3][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-8" ng-model="a2[3][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-9" ng-model="a2[3][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-10" ng-model="a2[3][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-1" ng-model="a2[4][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-2" ng-model="a2[4][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-3" ng-model="a2[4][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-4" ng-model="a2[4][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-5" ng-model="a2[4][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-6" ng-model="a2[4][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-7" ng-model="a2[4][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-8" ng-model="a2[4][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-9" ng-model="a2[4][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-10" ng-model="a2[4][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-1" ng-model="a2[5][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-2" ng-model="a2[5][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-3" ng-model="a2[5][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-4" ng-model="a2[5][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-5" ng-model="a2[5][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-6" ng-model="a2[5][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-7" ng-model="a2[5][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-8" ng-model="a2[5][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-9" ng-model="a2[5][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-10" ng-model="a2[5][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-1" ng-model="a2[6][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-2" ng-model="a2[6][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-3" ng-model="a2[6][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-4" ng-model="a2[6][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-5" ng-model="a2[6][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-6" ng-model="a2[6][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-7" ng-model="a2[6][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-8" ng-model="a2[6][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-9" ng-model="a2[6][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-10" ng-model="a2[6][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-1" ng-model="a2[7][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-2" ng-model="a2[7][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-3" ng-model="a2[7][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-4" ng-model="a2[7][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-5" ng-model="a2[7][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-6" ng-model="a2[7][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-7" ng-model="a2[7][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-8" ng-model="a2[7][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-9" ng-model="a2[7][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-10" ng-model="a2[7][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-1" ng-model="a2[8][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-2" ng-model="a2[8][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-3" ng-model="a2[8][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-4" ng-model="a2[8][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-5" ng-model="a2[8][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-6" ng-model="a2[8][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-7" ng-model="a2[8][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-8" ng-model="a2[8][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-9" ng-model="a2[8][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-10" ng-model="a2[8][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-1" ng-model="a2[9][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-2" ng-model="a2[9][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-3" ng-model="a2[9][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-4" ng-model="a2[9][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-5" ng-model="a2[9][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-6" ng-model="a2[9][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-7" ng-model="a2[9][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-8" ng-model="a2[9][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-9" ng-model="a2[9][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-10" ng-model="a2[9][9]">
  </div>
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; ">
  [A]T
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="b3[0][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="b3[0][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="b3[0][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-4" ng-model="b3[0][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-5" ng-model="b3[0][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-6" ng-model="b3[0][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-7" ng-model="b3[0][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-8" ng-model="b3[0][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-9" ng-model="b3[0][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-10" ng-model="b3[0][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="b3[1][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="b3[1][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="b3[1][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-4" ng-model="b3[1][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-5" ng-model="b3[1][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-6" ng-model="b3[1][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-7" ng-model="b3[1][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-8" ng-model="b3[1][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-9" ng-model="b3[1][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-10" ng-model="b3[1][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="b3[2][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="b3[2][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="b3[2][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-4" ng-model="b3[2][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-5" ng-model="b3[2][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-6" ng-model="b3[2][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-7" ng-model="b3[2][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-8" ng-model="b3[2][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-9" ng-model="b3[2][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-10" ng-model="b3[2][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-1" ng-model="b3[3][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-2" ng-model="b3[3][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-3" ng-model="b3[3][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-4" ng-model="b3[3][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-5" ng-model="b3[3][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-6" ng-model="b3[3][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-7" ng-model="b3[3][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-8" ng-model="b3[3][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-9" ng-model="b3[3][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-10" ng-model="b3[3][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-1" ng-model="b3[4][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-2" ng-model="b3[4][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-3" ng-model="b3[4][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-4" ng-model="b3[4][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-5" ng-model="b3[4][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-6" ng-model="b3[4][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-7" ng-model="b3[4][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-8" ng-model="b3[4][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-9" ng-model="b3[4][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-10" ng-model="b3[4][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-1" ng-model="b3[5][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-2" ng-model="b3[5][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-3" ng-model="b3[5][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-4" ng-model="b3[5][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-5" ng-model="b3[5][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-6" ng-model="b3[5][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-7" ng-model="b3[5][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-8" ng-model="b3[5][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-9" ng-model="b3[5][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-10" ng-model="b3[5][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-1" ng-model="b3[6][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-2" ng-model="b3[6][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-3" ng-model="b3[6][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-4" ng-model="b3[6][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-5" ng-model="b3[6][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-6" ng-model="b3[6][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-7" ng-model="b3[6][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-8" ng-model="b3[6][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-9" ng-model="b3[6][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-10" ng-model="b3[6][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-1" ng-model="b3[7][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-2" ng-model="b3[7][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-3" ng-model="b3[7][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-4" ng-model="b3[7][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-5" ng-model="b3[7][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-6" ng-model="b3[7][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-7" ng-model="b3[7][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-8" ng-model="b3[7][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-9" ng-model="b3[7][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-10" ng-model="b3[7][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-1" ng-model="b3[8][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-2" ng-model="b3[8][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-3" ng-model="b3[8][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-4" ng-model="b3[8][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-5" ng-model="b3[8][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-6" ng-model="b3[8][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-7" ng-model="b3[8][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-8" ng-model="b3[8][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-9" ng-model="b3[8][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-10" ng-model="b3[8][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-1" ng-model="b3[9][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-2" ng-model="b3[9][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-3" ng-model="b3[9][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-4" ng-model="b3[9][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-5" ng-model="b3[9][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-6" ng-model="b3[9][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-7" ng-model="b3[9][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-8" ng-model="b3[9][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-9" ng-model="b3[9][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-10" ng-model="b3[9][9]">
  </div>
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; ">
  K-RESULTADO
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-1" ng-model="c[0][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-2" ng-model="c[0][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-3" ng-model="c[0][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-4" ng-model="c[0][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-5" ng-model="c[0][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-6" ng-model="c[0][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-7" ng-model="c[0][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-8" ng-model="c[0][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-9" ng-model="c[0][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="1-10" ng-model="c[0][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-1" ng-model="c[1][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-2" ng-model="c[1][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-3" ng-model="c[1][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-4" ng-model="c[1][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-5" ng-model="c[1][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-6" ng-model="c[1][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-7" ng-model="c[1][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-8" ng-model="c[1][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-9" ng-model="c[1][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="2-10" ng-model="c[1][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-1" ng-model="c[2][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-2" ng-model="c[2][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-3" ng-model="c[2][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-4" ng-model="c[2][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-5" ng-model="c[2][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-6" ng-model="c[2][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-7" ng-model="c[2][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-8" ng-model="c[2][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-9" ng-model="c[2][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="3-10" ng-model="c[2][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-1" ng-model="c[3][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-2" ng-model="c[3][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-3" ng-model="c[3][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-4" ng-model="c[3][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-5" ng-model="c[3][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-6" ng-model="c[3][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-7" ng-model="c[3][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-8" ng-model="c[3][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-9" ng-model="c[3][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="4-10" ng-model="c[3][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-1" ng-model="c[4][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-2" ng-model="c[4][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-3" ng-model="c[4][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-4" ng-model="c[4][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-5" ng-model="c[4][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-6" ng-model="c[4][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-7" ng-model="c[4][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-8" ng-model="c[4][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-9" ng-model="c[4][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="5-10" ng-model="c[4][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-1" ng-model="c[5][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-2" ng-model="c[5][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-3" ng-model="c[5][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-4" ng-model="c[5][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-5" ng-model="c[5][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-6" ng-model="c[5][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-7" ng-model="c[5][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-8" ng-model="c[5][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-9" ng-model="c[5][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="6-10" ng-model="c[5][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-1" ng-model="c[6][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-2" ng-model="c[6][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-3" ng-model="c[6][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-4" ng-model="c[6][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-5" ng-model="c[6][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-6" ng-model="c[6][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-7" ng-model="c[6][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-8" ng-model="c[6][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-9" ng-model="c[6][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="7-10" ng-model="c[6][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-1" ng-model="c[7][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-2" ng-model="c[7][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-3" ng-model="c[7][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-4" ng-model="c[7][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-5" ng-model="c[7][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-6" ng-model="c[7][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-7" ng-model="c[7][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-8" ng-model="c[7][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-9" ng-model="c[7][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="8-10" ng-model="c[7][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-1" ng-model="c[8][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-2" ng-model="c[8][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-3" ng-model="c[8][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-4" ng-model="c[8][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-5" ng-model="c[8][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-6" ng-model="c[8][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-7" ng-model="c[8][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-8" ng-model="c[8][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-9" ng-model="c[8][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="9-10" ng-model="c[8][9]">
  </div>
  </div>
  <div style="float:none; width:100%;"> 
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-1" ng-model="c[9][0]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-2" ng-model="c[9][1]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-3" ng-model="c[9][2]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-4" ng-model="c[9][3]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-5" ng-model="c[9][4]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-6" ng-model="c[9][5]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-7" ng-model="c[9][6]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-8" ng-model="c[9][7]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-9" ng-model="c[9][8]">
  </div>
  <div style="float:left; width:10%;">
  <input type="number" style="width:100%;" placeholder="10-10" ng-model="c[9][9]">
  </div>
  </div>
  <div style="float:none; width:100%; padding-bottom:15px; background-color:#000;">
  CUPEN SYSTEMS
  </div>
  
  </ion-content>
</ion-view>
