<ion-view>
  <ion-content>
    <ion-list>
	<!--
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>  -->
	  <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="d1()"  type="item-text-wrap" href="#/tab/chats/0">
        
        <h2>d1</h2>
        <p><i class="ion-ios-refresh-empty"></i></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
	  <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="d2()" type="item-text-wrap" href="#/tab/chats/1">
        
        <h2>d2</h2>
        <p><i class="ion-ios-refresh-empty"></i></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="d2()">
          Delete
        </ion-option-button>
      </ion-item>
	  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
        
        <h2>d3</h2>
        <p><i class="ion-arrow-right-c"></i></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
	  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/3">
        
        <h2>d4</h2>
        <p><i class="ion-arrow-right-c"></i></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
	  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/4">
        
        <h2>d5</h2>
        <p><i class="ion-arrow-right-c"></i></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
	  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/5">
        
        <h2>d6</h2>
        <p><i class="ion-arrow-right-c"></i></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
	
  <div style="float:none; width:100%; padding-bottom:15px;">
  K-ELEMENTO 
  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="1-1" ng-model="a[0][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="1-2" ng-model="a[0][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="1-3" ng-model="a[0][2]">
  </div>

  </div>
  <div style="float:none; width:100%;  padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="2-1" ng-model="a[1][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="2-2" ng-model="a[1][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="2-3" ng-model="a[1][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-1" ng-model="a[2][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-2" ng-model="a[2][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-3" ng-model="a[2][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-1" ng-model="a[3][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-2" ng-model="a[3][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-3" ng-model="a[3][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-1" ng-model="a[4][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-2" ng-model="a[4][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-3" ng-model="a[4][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-1" ng-model="a[5][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-2" ng-model="a[5][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-3" ng-model="a[5][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-1" ng-model="a[6][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-2" ng-model="a[6][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-3" ng-model="a[6][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-1" ng-model="a[7][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-2" ng-model="a[7][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-3" ng-model="a[7][2]">
  </div>

  </div>
  <div style="float:none; width:100%; padding-left:5px; padding-right:5px;"> 
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-1" ng-model="a[8][0]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-2" ng-model="a[8][1]">
  </div>
  <div style="float:left; width:33%; padding-left:5px; padding-right:5px;">
  <input type="number" step="0.0001" style="width:100%;" placeholder="3-3" ng-model="a[8][2]">
  </div>

  </div>
  <button class="button button-block button-positive" ng-click="set(a)" >
  SELECCIONAR DATOS
	</button>
  
  
  </ion-content>
</ion-view>
