<ion-view>
  <ion-content class="padding" ng-controller="DashCtrl">
    <h2></h2>
    <p>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-ios-settings-strong placeholder-icon"></i>
    <input type="number" placeholder="E - (kgf/cm2)" ng-model="dato.es">
  </label>
</div>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-stop placeholder-icon"></i>
    <input type="number" step="0.0001" placeholder="I - (cm4)" ng-model="dato.is">
  </label>
</div>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-code-working placeholder-icon"></i>
    <input type="number" placeholder="L - (m)" ng-model="dato.ls">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="ion-ios-circle-outline"></i>
    <input type="number" placeholder="Angulo - (º)" ng-model="dato.ang">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-code-working placeholder-icon"></i>
    <input type="number" placeholder="A - (cm2)" ng-model="dato.as">
  </label>
</div>
	</p>
    <button class="button button-block button-positive" ng-click="datoss()" >
  SELECCIONAR DATOS
	</button>
	
	
	
	 <p>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-ios-settings-strong placeholder-icon"></i>
    <input type="number" placeholder="E - (kgf/cm2)" ng-model="dato2.es">
  </label>
</div>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-stop placeholder-icon"></i>
    <input type="number" step="0.0001" placeholder="I - (cm4)" ng-model="dato2.is">
  </label>
</div>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-code-working placeholder-icon"></i>
    <input type="number" placeholder="L - (m)" ng-model="dato2.ls">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="ion-ios-circle-outline"></i>
    <input type="number" placeholder="Angulo - (º)" ng-model="dato2.ang">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-code-working placeholder-icon"></i>
    <input type="number" placeholder="A - (cm2)" ng-model="dato2.as">
  </label>
</div>
	</p>
    <button class="button button-block button-positive" ng-click="datoss2()" >
  SELECCIONAR DATOS
	</button>
	
	
	
	
	 <p>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-ios-settings-strong placeholder-icon"></i>
    <input type="number" placeholder="E - (kgf/cm2)" ng-model="dato3.es">
  </label>
</div>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-stop placeholder-icon"></i>
    <input type="number" step="0.0001" placeholder="I - (cm4)" ng-model="dato3.is">
  </label>
</div>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-code-working placeholder-icon"></i>
    <input type="number" placeholder="L - (m)" ng-model="dato3.ls">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="ion-ios-circle-outline"></i>
    <input type="number" placeholder="Angulo - (º)" ng-model="dato3.ang">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-code-working placeholder-icon"></i>
    <input type="number" placeholder="A - (cm2)" ng-model="dato3.as">
  </label>
</div>
	</p>
    <button class="button button-block button-positive" ng-click="datoss3()" >
  SELECCIONAR DATOS
	</button>
  </ion-content>
</ion-view>
